<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <style>
        html {
            background: #eee;
            color: #222;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 100%;
            line-height: 1.5;
        }
        body {
            margin:auto;
            max-width: 35rem;
        }

        header, footer {
            color: #666;
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <header>Header de page: Festival de Lussan</header>

    <main>
    {{ block "main" . }}
    {{ end}}
    </main>
    
    <footer>Pied de page: Garrigue et compagnie</footer>
</body>
</html>